.nav {
  background-color: #26558f;
}
.navitem {
  color: white;
  font-size: 12px;
}
.navbtn {
  color: #841918;
  font-size: 12px;
}
.check {
  font-size: 10px;
}
.in {
  font-size: 14px;
}
.navcheckinbtn {
  width: 50px;
  height: 50px;
  background: rgb(149, 46, 159);
  background: linear-gradient(
    225deg,
    rgba(149, 46, 159, 1) 0%,
    rgba(242, 95, 68, 1) 100%
  );
  border: 1px solid white;
}
.active {
  color: #fdd21c;
}
.bellicon {
  width: 24px;
}
