.blue {
  color: #2c61a4;
}
.backgroundash {
  background-color: #fafafa;
}
.smallfont {
  font-size: 12px;
}
.img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .img {
    height: 120px;
  }
}
