.bluegradient {
  background: rgb(199, 236, 255);
  background: linear-gradient(
    179deg,
    rgba(199, 236, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: black;
}
.blue {
  color: #2c61a4;
}
.triangle {
  border-top: 13px solid #2c61a4;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.height {
  height: 75vh;
}
